<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="../public/bootstrap/css/font-awesome-5.8.1.css">
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/bootstrap/css/mdb.css">
    <link rel="stylesheet" href="../public/bootstrap/css/style.css">
    <link rel="stylesheet" href="../public/style.css">
    <title>Express | Routing</title>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <div class="container">
            <a href="/" class="navbar-brand">Express Routing</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item px-2">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="/services" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Full Screen -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Contact Us</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium consequatur, dolorum enim harum laudantium libero magni maxime natus nostrum numquam officia officiis possimus quam qui quibusdam quo temporibus veniam vero voluptate. Accusantium aliquid atque labore odit ut voluptas voluptatum?</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-dark btn-sm" href="#" role="button">Learn more</a>
        </div>
    </div>

<!-- JS Files -->
<script src="../public/bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="../public/bootstrap/js/popper.min.js"></script>
<script src="../public/bootstrap/js/bootstrap.js"></script>
<script src="../public/bootstrap/js/mdb.js"></script>
</body>
</html>
